#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #293264;
}

.intro-page{
  padding: 25%;
}
button{
  width: 193px;
  height: 52px;
  background: #4d5b9e;
  color: #F5F7FB;
  font-size: 1rem;
  margin-bottom: 12px;
}